.main{
    position:absolute;
    width: 100vw;
    height:100vh;
    background:transparent;
    background-color:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.aside{
    width:311px;
    height:100vh;
    margin:0 0 20px 0;
    position: absolute;
    right: 0;
    background-color: white;
    
}

.aside{
    transition:all 3s;
}

.text{
    margin: 70px 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.text > a{
    width:220px;
    border-radius: 15px;
    padding:7px 15px 7px 15px;
    text-decoration: none;
    font-size: 15px;
    color:#4c494e;
    margin:11px;
}

.icon-close{
    cursor: pointer;
    position: absolute;
    right:10px;
    margin:20px;
    font-size: 25px;
    color:#4c494e;
}

.button-close{
    font-weight: bold;
    font-size:15px;
    border:none;
    background:none;
    color:#393041;
}

.icon-close :hover{
    background-color:rgba(0, 0, 0, 0.05);
}

.text>a:hover{
    background-color:rgba(0, 0, 0, 0.05);
    cursor: pointer;
}