.banner-div {
    width: 100%;
    height:56px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text{
    font-weight: lighter;
    font-size:14px;
    color:#393041;
    text-align: center;
}